{% extends "base.html" %}

{% block extra_js %}
    <script src="/static/js/block.js"></script>
{%endblock %}

{% block content %}

<div class="block-collection">
    <div class="block" onclick="onclick_block(this)">&nbsp;</div>
    <div class="block" onclick="onclick_block(this)">&nbsp;</div>
    <div class="block" onclick="onclick_block(this)">&nbsp;</div>
    <div class="block" onclick="onclick_block(this)">&nbsp;</div>
    <div class="block" onclick="onclick_block(this)">&nbsp;</div>
</div>

<a href="cat">cat</a>

{% endblock %}